.product-detail-card,.service-detail-card {
  border-radius: 15px;
  overflow: hidden;
}

.product-image,.service-image {
  height: 100%;
  object-fit: fill;
}

.blog-title,.service-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.blog-content {
  font-size: 1.2rem;
  line-height: 1.6;
}
